<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Stork: Mountain Delivery Made Easy</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.3/ui-bootstrap-tpls.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

    <main></main>




    <script src="/javascripts/angularApp.js"></script>
    <script src="/javascripts/config.js"></script>
    <script src="/components/Main/Main.js"></script>
    <script src="/components/Main/MainController.js"></script>
    <script src="/components/ProductsList/ProductsList.js"></script>
    <script src="/components/ProductsList/ProductsListController.js"></script>
    <script src="/components/ProductSquare/ProductSquare.js"></script>
    <script src="/components/ProductWide/ProductWide.js"></script>
    <script src="/factories/ProductFactory.js"></script>
    <script src="/components/Register/Register.js"></script>
    <script src="/components/Register/RegisterController.js"></script>
    <script src="/components/Login/Login.js"></script>
    <script src="/components/Login/LoginController.js"></script>
    <script src="/components/Cart/Cart.js"></script>
    <script src="/components/Cart/CartController.js"></script>
    <script src="/components/Deals/Deals.js"></script>
    <script src="/components/Deals/DealsController.js"></script>
    <script src="/factories/UserFactory.js"></script>
    <script src="/factories/CartFactory.js"></script>

</body>
</html>