<div class="error-container" ng-show="$ctrl.message">
    <span class="error">{{ $ctrl.message }}</span>
</div>
<span style="color:red" ng-show="$ctrl.loading">{{$ctrl.loading}}</span>
<div ng-hide="$ctrl.loading">
    <!-- Bootstrap pagination component -->
    <nav class="pagination-nav">
        <ul class="pagination">
            <li
                    class="page-item"
                    ng-class="$ctrl.currentPage === 1 ? 'disabled' : ''"
                    ng-click="$ctrl.currentPage = $ctrl.currentPage-1; $ctrl.getProducts()">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li
                    ng-show="$ctrl.currentPage>2"
                    class="page-item"
                    ng-click="$ctrl.currentPage = $ctrl.currentPage-2; $ctrl.getProducts()">
                <a class="page-link" href="#">
                    {{$ctrl.currentPage-2}}
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li
                    ng-show="$ctrl.currentPage>1"
                    class="page-item"
                    ng-click="$ctrl.currentPage = $ctrl.currentPage-1; $ctrl.getProducts()">
                <a class="page-link" href="#">{{$ctrl.currentPage-1}}</a>
            </li>
            <li
                    class="page-item active">
                <a class="page-link" href="#">{{$ctrl.currentPage}}</a>
            </li>
            <li
                    class="page-item"
                    ng-click="$ctrl.currentPage = $ctrl.currentPage+1; $ctrl.getProducts()">
                <a class="page-link">{{$ctrl.currentPage+1}}</a>
            </li>
            <li class="page-item"
                ng-click="$ctrl.currentPage = $ctrl.currentPage+2; $ctrl.getProducts()">
                <a class="page-link">{{$ctrl.currentPage+2}}</a>
            </li>
            <li
                    class="page-item"
                    ng-class="$ctrl.currentPage === $ctrl.totalPages?'diabled':''"
                    ng-click="$ctrl.currentPage = $ctrl.currentPage+1; $ctrl.getProducts()">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<div class="section-container product-container">
    <div class="row product-row">
        <product-square
                class="section-header product"
                ng-repeat="product in $ctrl.productList"
                product="product"
                index="$index"
                on-product-selected="$ctrl.addCart(product, quantity);">
        </product-square>
    </div>
</div>

<div ng-hide="$ctrl.loading">
    <!-- Bootstrap pagination component -->
    <nav class="pagination-nav">
        <ul class="pagination">
            <li
                class="page-item"
                ng-class="$ctrl.currentPage === 1 ? 'disabled' : ''"
                ng-click="$ctrl.currentPage = $ctrl.currentPage-1; $ctrl.getProducts()">
                <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
                </a>
            </li>
            <li
                ng-show="$ctrl.currentPage>2"
                class="page-item"
                ng-click="$ctrl.currentPage = $ctrl.currentPage-2; $ctrl.getProducts()">
                <a class="page-link" href="#">
                {{$ctrl.currentPage-2}}
                <span class="sr-only">(current)</span>
                </a>
            </li>
            <li
                ng-show="$ctrl.currentPage>1"
                class="page-item"
                ng-click="$ctrl.currentPage = $ctrl.currentPage-1; $ctrl.getProducts()">
                <a class="page-link" href="#">{{$ctrl.currentPage-1}}</a>
            </li>
            <li
                class="page-item active">
                <a class="page-link" href="#">{{$ctrl.currentPage}}</a>
            </li>
            <li
                class="page-item"
                ng-click="$ctrl.currentPage = $ctrl.currentPage+1; $ctrl.getProducts()">
                <a class="page-link">{{$ctrl.currentPage+1}}</a>
            </li>
            <li class="page-item"
                ng-click="$ctrl.currentPage = $ctrl.currentPage+2; $ctrl.getProducts()">
                <a class="page-link">{{$ctrl.currentPage+2}}</a>
            </li>
            <li
                class="page-item"
                ng-class="$ctrl.currentPage === $ctrl.totalPages?'diabled':''"
                ng-click="$ctrl.currentPage = $ctrl.currentPage+1; $ctrl.getProducts()">
                <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<!--
<div>
    <form name="add-product-form" ng-submit="$ctrl.addProduct()">
        <input type="text" placeholder="Product Name" ng-model="$ctrl.newProduct.name">
        <input type="text" placeholder="Brand" ng-model="$ctrl.newProduct.brand">
        <input type="text" placeholder="Category" ng-model="$ctrl.newProduct.category">
        <input type="number" placeholder="Price" ng-model="$ctrl.newProduct.price">
        <input type="text" placeholder="description" ng-model="$ctrl.newProduct.description">
        <input type="number" placeholder="quantity" ng-model="$ctrl.newProduct.quantity" ng-required="true">
        <button type="submit">Submit Product</button>
    </form>
</div>
-->