<div class="error-container" ng-show="$ctrl.message">
    <span class="error">{{ $ctrl.message }}</span>
</div>
<span style="color:red" ng-show="$ctrl.loading">{{$ctrl.loading}}</span>
<div ng-hide="$ctrl.loading">
    <a ng-show="$ctrl.prevPage" ng-click="$ctrl.getProducts(-1)">Previous Page</a>
    <a ng-click="$ctrl.getProducts(1)">Next Page</a>
</div>

<div class="section-container product-container">
    <div class="row product-row">
        <product-square
                class="section-header product"
                ng-repeat="product in $ctrl.productList"
                product="product"
                index="$index"
                on-product-selected="$ctrl.addCart(product, quantity);">
        </product-square>
    </div>
</div>

<div ng-hide="$ctrl.loading">
    <a ng-show="$ctrl.prevPage" ng-click="$ctrl.getProducts(-1)">Previous Page</a>
    <a ng-click="$ctrl.getProducts(1)">Next Page</a>
</div>

<!--
<div>
    <form name="add-product-form" ng-submit="$ctrl.addProduct()">
        <input type="text" placeholder="Product Name" ng-model="$ctrl.newProduct.name">
        <input type="text" placeholder="Brand" ng-model="$ctrl.newProduct.brand">
        <input type="text" placeholder="Category" ng-model="$ctrl.newProduct.category">
        <input type="number" placeholder="Price" ng-model="$ctrl.newProduct.price">
        <input type="text" placeholder="description" ng-model="$ctrl.newProduct.description">
        <input type="number" placeholder="quantity" ng-model="$ctrl.newProduct.quantity" ng-required="true">
        <button type="submit">Submit Product</button>
    </form>
</div>
-->