.section-header {
    display: flex;
    margin: 20px;
    border: 1px solid black;
}

.product-selection {
    margin-left: auto;
    margin-right: 25px;
    margin-bottom: auto;
    margin-top: auto;
}

.product-cart-btn {
    text-decoration: none;
    font-size: 22px;
    color: lightblue;
}

.product-cart-btn:hover {
    color: darkblue;
}

.error {
    color: red;
}