<div class="error-container" ng-show="$ctrl.errorMessage">
    <span class="error">{{ $ctrl.errorMessage }}</span>
</div>
<div>
    {{ $ctrl.currentUser }}
</div>
<div>
    <form name="add-product-form" ng-submit="$ctrl.addProduct()">
        <input type="text" placeholder="Product Name" ng-model="$ctrl.newProduct.name">
        <input type="text" placeholder="Brand" ng-model="$ctrl.newProduct.brand">
        <input type="text" placeholder="Category" ng-model="$ctrl.newProduct.category">
        <input type="number" placeholder="Price" ng-model="$ctrl.newProduct.price">
        <input type="text" placeholder="description" ng-model="$ctrl.newProduct.description">
        <button type="submit">Submit Product</button>
    </form>
</div>


<!-- Favorites Implementation
<div class="section-container favorites-container">
    <div class="section-header favorite" ng-repeat="favorite in $ctrl.favoritesList">
        <div>
            {{ favorite }}
        </div>
        <a href="" class="product-fav-btn" ng-click="$ctrl.removeFavorite($index)">&#215;</a>
    </div>
</div>
-->


<div class="section-container product-container">
    <product
        class="section-header product"
        ng-repeat="product in $ctrl.productList"
        product="product"
        index="$index"
        on-product-selected="$ctrl.addCart(product, quantity)">
    </product>
</div>

<div class="section-container cart-container">
    <div class="section-header cart" ng-repeat="item in $ctrl.cartList">
        <div>
            {{ item.name }} - {{ item.quantity }}
        </div>
        <div class="product-selection">
            <a href="" class="product-fav-btn" ng-click="$ctrl.removeCart($index)">&#215;</a>
        </div>
    </div>
</div>