<div class="col-xs-6 col-md-3 ps-product-container">
    <div class="row">
        <div class="col-md-12">
            <div class="ps-data-container">
                <!-- TODO product image -->
                <img class="ps-image img-responsive" src="{{ $ctrl.product.mediumImage }}">
                <div class="ps-details-container">
                    <a href="" class="product-name-text">{{ $ctrl.product.name }}</a>
                </div>
                <div class="ps-price-container">
                    <span class="product-price-text">{{ $ctrl.product.salePrice | currency }}</span>
                </div>
                <div class="product-selection ps-selection-container" ng-hide="$ctrl.quantity">
                    <label for="product-quantity-{{$ctrl.index}}">Quantity: </label>
                    <select id="product-quantity-{{$ctrl.index}}"
                            ng-model="quantity"
                            ng-options="n for n in [] | range:1:$ctrl.product.quantity<90?$ctrl.product.quantity:90">
                    </select>
                    <a class="product-cart-btn" ng-click="$ctrl.onProductSelected({product: $ctrl.product, quantity: quantity}); quantity = 0">+</a>
                </div>
                <div class="product-selection ps-selection-container" ng-show="$ctrl.quantity">
                    <!-- TODO <label for="product-quantity-input-{{$ctrl.index}}"></label> -->
                    <input id="product-quantity-input-{{$ctrl.index}}"
                           type="number"
                           min="1"
                           ng-model="$ctrl.quantity"
                           ng-change="$ctrl.onQuantityChange({product: $ctrl.product, index: $index, quantity: $ctrl.quantity});"
                           ng-model-options="{updateOn: 'blur'}">
                    <a class="product-cart-btn" ng-click="$ctrl.onProductRemoved()">&#215;</a>
                </div>
            </div>

        </div>
    </div>
</div>
<div ng-if="($ctrl.index+1)%2 === 0" class="clearfix visible-xs"></div>
<div ng-if="($ctrl.index+1)%4 === 0" class="clearfix visible-md"></div>
